<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->


@using Microsoft.AspNet.Identity
@{
    var IsAuthenticated = ViewBag.Authenticated == null ? false : ViewBag.Authenticated;
    var Name = ViewBag.Name != "" ? ViewBag.Name : "";
}

<head>

    <!-- Page Title -->
    <title>Nexus Travel - @ViewBag.Title</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo - Travel, Tour Booking HTML5 Template">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/animate.min.css">

    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="~/Content/css/style.css">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="~/Content/css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/Content/css/custom.css">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
   


</body>
</html>

