
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container text-center" style="margin-bottom:80px">
        <h2 class="lead" style="margin-top:60px">@ViewBag.EMessage1</h2>
        <h1 class="lead">@ViewBag.EMessage2</h1>
    </div>

