<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="webpages:Version" value="3.0.0.0"/>
      <add key="webpages:Enabled" value="false"/>
      <add key="ClientValidationEnabled" value="true"/>
      <add key="UnobtrusiveJavaScriptEnabled" value="true"/>


      <add key="AmadeusBaseUrl" value="https://test.api.amadeus.com"/>
      <add key="AmadeusApiKey" value="cPQuDXvxvcpN2SmGA3A0VOV1CTshdUHP"/>
      <add key="AmadeusApiSecret" value="swYztRLj1eVhE5Dt"/>




      <!--<add key="TboBaseUrl" value="https://api.tbotechnology.in/HotelAPI_V7/HotelService.svc"/>-->
      <add key="TboUsername" value="TravelNexus"/>
      <add key="TboPassword" value="Tra@47939602"/>
      <add key="TboSiteName" value="Nexus-Travel"/>

    </appSettings>
    <system.web>
      <trust level="Full" />
      <compilation debug="true" targetFramework="4.6"/>
      <httpRuntime targetFramework="4.6"/>
    </system.web>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
          <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
          <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHotelService" />
        <binding name="BasicHttpBinding_IHotelService1">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHotelService" maxReceivedMessageSize="100000000" maxBufferPoolSize="100000000">
			<readerQuotas maxArrayLength="100000000" maxBytesPerRead="100000000"/>
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IHotelService1">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.tboholidays.com/HotelAPI_V7/HotelService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHotelService"
          contract="TboServiceReference.IHotelService" name="WSHttpBinding_IHotelService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://www.tboholidays.com/HotelAPI_V7/HotelService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHotelService1"
          contract="TboServiceReference.IHotelService" name="WSHttpBinding_IHotelService1" />
      <endpoint address="http://www.tboholidays.com/HotelAPI_V7/HotelService.svc/basic"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelService"
          contract="TboServiceReference.IHotelService" name="BasicHttpBinding_IHotelService" />
      <endpoint address="https://www.tboholidays.com/HotelAPI_V7/HotelService.svc/basic"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelService1"
          contract="TboServiceReference.IHotelService" name="BasicHttpBinding_IHotelService1" />
    </client>
  </system.serviceModel>

</configuration>