@model TravelNexus.Web.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section id="content">
    <div class="container">
        <div id="main" class="entry-content main-content">
            <div class="woocommerce">
                <div class="woocommerce-notices-wrapper"></div>
                <form action="/Account/ForgotPassword" method="post" class="woocommerce-ResetPassword lost_reset_password">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="container text-center">
                        <h1>Lost your password? Please enter your username or email address. </h1>
                        <h3>You will receive a link to create a new password via email.</h3>
                    </div>

                    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first text-center">
                        <label for="user_login"> email</label>
                        <input class="woocommerce-Input woocommerce-Input--text input-text border-button " type="email" required name="Email" id="user_login" autocomplete="username">
                    </p>

                    <div class="clear"></div>


                    <p class="woocommerce-form-row form-row text-center">
                        <input type="hidden" name="wc_reset_password" value="true">
                        <button type="submit" class="woocommerce-Button button" value="Reset password">Reset password</button>
                    </p>

                    <input type="hidden" id="woocommerce-lost-password-nonce" name="woocommerce-lost-password-nonce" value="1a4dbaa893"><input type="hidden" name="_wp_http_referer" value="/my-account/lost-password/">
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
