
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container text-center" style="margin-top:80px">

    <h1>You Have to Login to Proceed to this Action.</h1>
    <button style="background-color:flavor" class="btn-medium soap-popupbox" data-target="#travelo-login"><h1>Click Here to Login</h1></button>
</div>



 


