
@{
    ViewBag.Title = "APIs Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center" style="margin-top:80px">

    <h1>APIs Configuration Data Has been Saved.</h1>
</div>

