@{
    ViewBag.Title = "About";
}
<div class="page-title-container style4">
    <div class="container">
        <div class="page-title">
            <i class="soap-icon-plane-right takeoff-effect"></i>
            <h2 class="entry-title">About Us</h2>
        </div>
        <ul class="breadcrumbs">
            <li><a href="/">HOME</a></li>
            <li class="active">About Us</li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="container">
        <div id="main">
            <div class="image-style style1 large-block">
                <ul class="image-block column-3 pull-left clearfix">
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-1.png" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-2.png" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-3.png" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-4.png" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-5.png" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-6.png" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-7.png" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-8.png" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="~/Content/images/about-9.png" alt="" /></a></li>
                </ul>

                <h1 class="title">Welcome to the official Travel Nexus Website. We are here to share with you the best places, experiences, and amazing deals. Book with Us, for the traveler in you! </h1>
                <p>
                    We are a vibrant, young and exciting company, specializing in a wide range of travel and tourism related services and products, we are based in Cairo – Egypt, Accredited by the International Air Transport Association (IATA)
                </p>

                <div class="clearfix"></div>
            </div>

            <div class="large-block">
                <h2>Our Team</h2>
                <div class="row image-box style1 team">
                    <div class="col-sm-6 col-md-3">
                        <article class="box">
                            <figure>
                                <a href="#"><img src="~/Content/images/author1.png" alt="" width="270" height="263" /></a>
                                <figcaption>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="details">
                                <h4 class="box-title"><a href="#">Jessica Brown<small>Chief Executive</small></a></h4>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="box">
                            <figure>
                                <a href="#"><img src="~/Content/images/author2.png" alt="" width="270" height="263" /></a>
                                <figcaption>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="details">
                                <h4 class="box-title"><a href="#">David Jackson<small>Director - Hotels</small></a></h4>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="box">
                            <figure>
                                <a href="#"><img src="~/Content/images/author3.png" alt="" width="270" height="263" /></a>
                                <figcaption>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="details">
                                <h4 class="box-title"><a href="#">Kyle Martin<small>Chief Operating Officer</small></a></h4>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="box">
                            <figure>
                                <a href="#"><img src="~/Content/images/author4.png" alt="" width="270" height="263" /></a>
                                <figcaption>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="details">
                                <h4 class="box-title"><a href="#">David Robets<small>Founder &amp; Director</small></a></h4>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row large-block">
                    <div class="col-md-6">
                        <h2>Our Offerings</h2>
                        <div class="tab-container clearfix ">
                            <ul class="tabs clearfix"><li class="active"><a href="#1459331098064-9" data-toggle="tab">Travel Nexus</a></li><li><a href="#1459331098209-4" data-toggle="tab">Travel Nexus</a></li></ul><div class="tab-content">
                                <div id="1459331098064-9" class="tab-pane fade active in">
                                    <div>
                                        <p><img class="pull-left" style="padding-right:10px" src="http://www.soaptheme.net/wordpress/travelo/wp-content/uploads/2014/11/tabs01.png" alt="tab-image"></p>
                                        <ul>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Holiday packages to worldwide destination</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Airline Ticketing and Reservation</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Worldwide reservation for hotel accommodation, apartments, theme parks, and resorts</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Transfers, Sight-seeing Tours and Excursions</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">City Stopover Packages</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Multi-Destination Packages</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Fly-Drive Packages</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Fly-Cruise Packages</span></li>
                                        </ul>

                                    </div>
                                </div><div id="1459331098209-4" class="tab-pane fade">
                                    <div>
                                        <p><img class="pull-left" style="padding-right:10px" src="http://www.soaptheme.net/wordpress/travelo/wp-content/uploads/2014/11/tabs01.png" alt="tab-image"></p>
                                        <ul>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Escorted overland coach tours, train tours</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Luxury Cruises</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Incentive Tours</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Package tours to attend trade fairs, conferences, and conventions</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Self-drive and chauffeur-driven car rental</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Train tickets</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Meet and Assist service at the airport on arrival and departure</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;">Travel Insurance Issuance</span></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Know More About Us</h2>
                        <div class="toggle-container box" id="accordion1">
                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a href="#acc1" data-toggle="collapse" data-parent="#accordion1">Travel Insurance Single Person</a>
                                </h4>
                                <div class="panel-collapse collapse in" id="acc1">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa idend porta nequetiam elerisque mi id habitant morbi isnot possible nowadays tristique senectus et netus et malesuada fames. </p>
                                    </div><!-- end content -->
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a class="collapsed" href="#acc2" data-toggle="collapse" data-parent="#accordion1">Inflight Dinner/ Lunch Deal</a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc2">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                    </div><!-- end content -->
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a class="collapsed" href="#acc3" data-toggle="collapse" data-parent="#accordion1">Luxury Appartment for Family</a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc3">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                    </div><!-- end content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row large-block">
                    <div class="col-sm-6 col-md-3">
                        <div class="icon-box style3 counters-box">
                            <div class="numbers">
                                <i class="soap-icon-places yellow-color"></i>
                                <span class="display-counter" data-value="3200">3200</span>
                            </div>
                            <div class="description">Amazing Places To Visit</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="icon-box style3 counters-box">
                            <div class="numbers">
                                <i class="soap-icon-hotel blue-color"></i>
                                <span class="display-counter" data-value="5738">5738</span>
                            </div>
                            <div class="description">5 Star Hotels To Stay</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="icon-box style3 counters-box">
                            <div class="numbers">
                                <i class="soap-icon-plane green-color"></i>
                                <span class="display-counter" data-value="4509">4509</span>
                            </div>
                            <div class="description">Airlines To Travel the World</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="icon-box style3 counters-box">
                            <div class="numbers">
                                <i class="soap-icon-car red-color"></i>
                                <span class="display-counter" data-value="3250">3250</span>
                            </div>
                            <div class="description">VIP Transport Options</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end main -->
    </div>
</section>
